SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
DIDIT_APP_ID=
DIDIT_API_KEY=
DIDIT_CLIENT_ID=
DIDIT_CLIENT_SECRET=
DIDIT_WEBHOOK_SECRET=
OPS_ALERT_TOKEN=
RESEND_API_KEY=
MAIL_FROM=Blackout Audio Team <contact@blackoutaudio.com>
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_USER=operations@blackoutaudio.com
GMAIL_FROM=Blackout Audio Team <contact@blackoutaudio.com>
DIDIT_REVIEW_PASSWORD=
